{% extends 'base_templates/header.html' %}
{% block title %} Registro {% endblock title %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <h2 class="text-center mb-4">Registro</h2>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form action="" method="POST" class="border p-4 rounded shadow">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                        {{ field }}

                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                        {% if field.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "base_templates/footer.html"%}
{% endblock content %}
